body{
    font-family: 'Kanit', sans-serif;
    color: white;
    font-weight: bold;
    background-color: #ebfbfb;

}

.topnav {
    background-color: #ade8f4;
    overflow: hidden;
    border-radius: 10px;;
    margin-left: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  
.topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  

.topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  

.topnav a.split {
    float: left;
    background-color: #00B4D8;
    color: black;
  }

  
  .main h1{                                                 
    margin-top: 40px;
    font-size: 50px;
    
  }

  
  
  p {
    color: black;
  }

  .faq-group{
    color: black;
  }
  


  .ozone{
    border-radius: 10px;
  }

  .oztit{
    text-decoration: underline;
  }

  .oty{
    text-decoration: underline;
  }

  img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
  }

  .ozone2{
    height: 400px;
    width: 600px;
    border-radius: 10px;
 }

 img{
  display: block;
 }